body { 
    font-family:sans-serif; 
    font-weight:bold; 
    font-size:16pt;
    background-image: url("images/mistyCurve.jpeg");
}
header {
    background-color:#ebebeb44;
    padding:35px;
    border:5px solid #777;
    color: #383434;
    text-align: center;
}

